/*
:root {
    --primary-text-color: #757575;
    --title-text-color: #000000;
    --accent-color: #2196F3;
    --additional-color: #FFFFFF;
    --selective-color: #212121;
    --button-color: #FFFFFF;
    --button-bg-color: #2196F3;
    --footer-bg-color: #2F303A;
    --button-portfolio-bg-color: #F5F4FA;
    --primary-br-color: #ffffff;
    --secondary-bg-color: #E5E5E5;
}

body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    color: var(--primary-text-color);
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
*/
/**
!=============================!
   Header section
!=============================!
*/
/*
.nav {
    display: flex;
    align-items: center;
}
/*
.header {
    border-bottom: 1px solid #ECECEC;
}

.header__container {
    display: flex;
    align-items: center;
}
*/
/*
.header__logo {
    font-family: Raleway, cursive;
    font-size: 26px;
    line-height: 1.2px;
    color: var(--title-text-color);
    text-decoration: none;
}


span {
    font-size: 26px;
    line-height: 1.2;
    color: var(--accent-color);
}
/*
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}
*/
/**
!=============================!
   Nav-site list
!=============================!
*/
/*
.nav-site {
    display: flex;
    margin-left: 93px;
}

.nav__item {
    margin-right: 50px;
}

.nav__item:last-child {
   margin-right: 0;
}


.nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--selective-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
    color:var(--accent-color);
}

.nav__link--current {
    position: relative;
    color: var(--accent-color);
}


.nav__link--current::after {
content: "";
display: block;
width: 100%;
height: 4px;
background-color: var(--accent-color);
border-radius: 2px;
position: absolute;
left: 0;
bottom: 0;
}
*/
/**
!=============================!
   Nav-auth list
      Contacts
!=============================!
*/
/*
.nav-auth {
    display: flex;
    margin-left: auto;
}

.nav-auth  {
    align-items: center;
    justify-content: center;
    margin-left: auto;
    gap: 50px;
}

.nav-auth {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 50px
}

.nav__contacts {
    margin-right: 50px;
}

.nav__contacts:last-child {
    margin-right: 0;
 }

 .nav__contacts-link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primary-text-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    padding: 32px 0;

    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--primary-text-color);
}



.nav__contact-icon {
    margin-right: 10px;
    fill: #757575;
}

.nav__contacts-link:hover ,
.nav__contacts-link:focus {
    color: var(--accent-color);
}

.nav__contacts:hover .nav__contact-icon,
.nav__contacts:focus .nav__contact-icon{
    fill: var(--accent-color);
}

/**
!=============================!
      Hero
!=============================!
*/
/*
.hero {
padding-top: 200px;
padding-bottom: 200px;
text-align: center;
background-color: #2F303A;
max-width: 1600px;
height: 600px;
margin-left: auto;
margin-right: auto;
outline: 1px solid black;
background-image: linear-gradient(to right, 
rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/juniors.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;


}
/*
.hero__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: var(--additional-color);
}
*/
/**
!=============================!
      Button
!=============================!

.hero__button {
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    text-align: center;
    font-family: inherit;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color : var(--button-color);
    background-color: var(--button-bg-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
*/
/**
!=============================!
      Modal Window
!=============================!
*/
/*
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    
    background-color: rgba(0, 0, 0, 0.2);
   
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;  
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}
/*
.modal {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 40px;
min-width: 528px;
min-height: 581px;

border-radius: 4px;

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14), 
0px 2px 1px rgba(0, 0, 0, 0.2);
background-color: #ffffff;
opacity: 1.0;
scale: 1.0;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
visibility: visible;
}
/*
.button__close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    height: 30px;
    width: 30px;
    cursor: pointer;
}
*/
/**
!=============================!
      Оформлення Modal
!=============================!
*/
/*
.modal__form {
    text-align: center;
}
/*
.form__title {
    display: block;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    color: #212121;
}
*/
/*
.register__group {
    margin-bottom: 20px;
}

.modal__form-group {
    position: relative;
    display: block;
}

.modal__form-group:not(:last-child) {
    margin-bottom: 10px;
}



.modal__form-input,
.user__comment {
width: 100%;
padding: 12px;
padding-left: 39px;
color: #000000;
border: 1px solid rgba(33, 33, 33, 0.2);
outline: transparent;

transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
border-radius: 4px;
}

.user__comment {
    resize: none;
    padding: 12px 16px;
    height: 120px;
}

 
.modal__form-label {
    display: block;
    padding-left: 2px;
    margin-bottom: 4px;

    text-align: left;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    font-family: Roboto;
    font-style: Regular;

    color: #757575;
}

.modal__icon {
    position: absolute;
    top: 29px;
    left: 10px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input:hover,
.modal__form-input:focus,
.user__comment:hover,
.user__comment:focus {
    border-color: #2196F3;
}

.modal__form-input:hover + .modal__icon,
.modal__form-input:focus + .modal__icon {
    fill: #2196F3
}

.agreement__group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 20px;
}

.agreement__text{
    color: #757575;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
   
    
}

.agreement__link {
    color: #2196F3;
}

.checkbox {
    display: flex;
    justify-content: center;
}

.checkbox:hover,
.checkbox:focus {
fill: #2196F3;
}

.agreement__form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}
/*
.visually-hidden {
    appearance: none;

}
*/
/*
.agreement__icon-check {
    border-radius: 2px;
    opacity: 0;
    position: absolute;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
}




.agreement__check:checked + .agreement__icon .agreement__icon-uncheck {
opacity: 0;

}

.agreement__check:checked + .agreement__icon .agreement__icon-check {
    opacity: 1;
}

/*
.basic__bth-link {
 display: inline-flex;
 align-items: center;
justify-content: center;
padding: 10px 52px;
margin-top: 30px;

background-color: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

cursor: pointer;
border: none;
color: #FFFFFF;
font-weight: 700;
font-size: 16px;
line-height: 1.9;


}

.basic__bth-link:hover,
.basic__bth-link:focus {
    background-color: #188ce8;
    
}
.basic__bth-link{
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
baground-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**
!=============================!
      Feature section
!=============================!
*/
/*
.section {
 padding-top: 94px;
 padding-bottom: 94px;
}
*/
/*
.antena-item::before {
    display: block;
    content: '';
    height: 120px;

    background-image: url(../images/antenna\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}

.clock-item::before {
    display: block;
    content: '';
    height: 120px;
   
    background-image: url(../images/clock\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}

.diagram-item::before {
    display: block;
    content: '';
    height: 120px;
    
    background-image: url(../images/diagram\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}

.astronaut-item::before {
    display: block;
    content: '';
    height: 120px;

    background-image: url(../images/astronaut\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}
/*
.feature {
    padding-bottom: 0;
}

.feature__list {
   display: flex;
   gap: 30px;
}

.feature__list .list-item {
    width: 270px;
}
/*
.feature__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--selective-color);
}
*/
/*
.feature__text {
    line-height: 1.71;
    line-height: 24px;
    font-weight: 400;
}

/**
!=============================!
      Work section
!=============================!
*/
/*
.work {
    padding-bottom: 0;
}
/*
.work__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    color: var(--selective-color);
    margin-bottom: 50px;
}
*/
/*
.work__list {
    display: flex;
}

.work__item {
    position: relative;
}

.work__item:not(:last-child) {
    margin-right: 30px;
}

.work__section-img {
    position: absolute;
    bottom: 0;
    left: 0;

    padding: 27px 10px;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
}
/*
.work__section-title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
}
*/
/**
!=============================!
      Team section
!=============================!
*/
/*
.team {
   background-color: #F5F4FA;
}

.team__list {
    display: flex;
    gap: 30px;
    
}

.team__junior {
    text-align: center;
}

.team__junior:last-child {
    margin-right: 0;
}

.team__icon {
    display:block;
}

/*
.card-set {
background-color: var(--additional-color);
border-radius: 0px 0px 4px 4px;
padding-top: 30px;
padding-bottom: 30px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14), 
0px 2px 1px rgba(0, 0, 0, 0.2);
}
*/
/*
.team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    color: var(--selective-color);
    margin-bottom: 50px;
    
}
*/

/*
.team__person {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--selective-color);
    margin-bottom: 10px;
    
}


.team__profession {
    text-align: center;

    font-size: 16px;
    line-height: 1.2;
    color: var(--primary-text-color);

    margin-bottom: 16px;
    
}

/**
!=============================!
      Socials icons
!=============================!
*/
/*
.socials__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #fff;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover {
background-color: #2196F3;
}

.socials__link:hover .socials__icon {
    fill: #ffffff;
}

.socials__icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/**
!=============================!
      Clients section
!=============================!
*/
/*
.clients {
    background-color: #fff;
    
}

/*
.clients__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    color: var(--selective-color);
    margin-bottom: 50px;
}
*/
/*
.clients__list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    
}

.clients__item {
    width: 170px;
    height: 92px;
}

.clients__icon {
    fill: #AFB1B8;
    
    width: 106px;
    height: 60px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.clients__link:hover,
.clients__link:focus {
    border: 1px solid var(--button-bg-color);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
    fill: var(--accent-color);
}

/**
!=============================!
      Footer
!=============================!
*/
/*
.footer {
    padding: 60px 0;
    background-color: var(--footer-bg-color);
}

.logo__two {
    font-family: Raleway, cursive;
    font-size: 26px;
    line-height: 1.2;
    color: var(--additional-color);
    text-decoration: none;
}



.footer__address-list {
    margin-top: 20px;
    margin-bottom: 9px;
    font-style: normal;
    line-height: 1.71;
    color: var(--additional-color);
}

.footer__separator-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    color: var(--primary-text-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.footer__separator-item:hover,
.footer__separator-item:focus {
    color:var(--accent-color);
}

.footer__separator:not(:last-child) {
    margin-bottom: 9px;
}
/*
.footer__title {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #FFFFFF;

}
*/
/*
.contacts-container {
    display: flex;
    align-items: baseline;
}

/**
!=============================!
      Footer right block
!=============================!
*/
/*
.footer__right--block {
    margin-left: 70px;
}

.footer__social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    fill: #FFFFFF;
}

.footer__social-link {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: var(--additional-color);
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer__social-link:hover,
.footer__social-link:focus{
    background-color: var(--accent-color);
}

.footer__social-link:hover .socials__icon {
    fill: #ffffff;
    
}

/**
!=============================!
      Footer left block
!=============================!
*/
/*
.footer__subscription{
    margin-left: auto;
    
}

.footer__slogan {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #FFFFFF;
  
   
}

.footer__user-name {
    width: 358px;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    margin-right: auto;

  border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;
   
}

.footer__user-name[placeholder] {
   outline: transparent;
    font-size: 16px;
    line-height: calc(20 / 16);
     letter-spacing: 0.03em;
     
     color: rgba(255, 255, 255, 0.6);
}

.footer__form {
    display: flex;
    align-items: center;
    gap: 12px;
}
 /*
.footer__basic-bth {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 10px 28px;
    min-height: 50px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #2196F3;
    border: 1px solid #2196F3;
    border-radius: 4px;
    cursor: pointer;
   

}

 /**
!=============================!
      Portfolio
!=============================!
*/
/*
.button__portfolio {
    border: 1px solid transparent;
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    text-align: center;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--selective-color);
    background-color: var(--button-portfolio-bg-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*
.button__portfolio:hover,
.button__portfolio:focus {
    
    color: var(--additional-color);
    background-color: var(--accent-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14), 
0px 2px 1px rgba(0, 0, 0, 0.2);
}
*/
/*
.tack {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 8px;
    margin-bottom: 50px;
}
/*
.container .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
*/
/*
.flex__line {
    width: 370px;
    
}

.flex__product-thumb {
position: relative;
overflow: hidden;
}


.flex__product-actions {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    position: absolute;
    transform: translateY(100%);
    
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    background-color: rgb(33, 150, 243, 0.9);
}

.flex__product-text {
   
   font-weight: 400;
   font-size: 18px;
   line-height: 1.56;
   padding: 63px 24px;
   letter-spacing: 0.03em;
    color: #FFFFFF;
}

.flex__line:hover .flex__product-text,
.flex__line:focus .flex__product-text {
    transform: translateY(0);
    
}

.flex__line:hover .flex__product-actions {
transform: translateY(0);

}


.flex__line-wrap {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.flex__point {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--selective-color);
}



.flex__article {
    font-size: 16px;
    line-height: 1.9; 
    color: var(--primary-text-color);
}

.flex__line:hover {
    box-shadow: 0px 1px 1px rgb(0, 0, 0, 0.12),
0px 4px 4px rgba(0, 0, 0, 0.06), 
1px 4px 6px rgba(0, 0, 0, 0.16);
}



