:root {
    --primary-text-color: #757575;
    --title-text-color: #000000;
    --accent-color: #2196F3;
    --additional-color: #FFFFFF;
    --selective-color: #212121;
    --button-color: #FFFFFF;
    --button-bg-color: #2196F3;
    --footer-bg-color: #2F303A;
    --button-portfolio-bg-color: #F5F4FA;
    --primary-br-color: #ffffff;
    --secondary-bg-color: #E5E5E5;
}