.feature {
padding-bottom: 60px;
  padding-top: 60px;

}

.feature__list {
 display: flex;
 gap: 30px;
 

& .list__item {
  width: 270px;
}

@media screen and (min-width: 480px) {
  flex-direction: column;
 }

 @media screen and (min-width: 768px) {
  flex-basis: calc((100% - 30px)/2);
 width: 354px;
}
 
 @media screen and (min-width: 1200px) {
  width: 1200px;
  flex-direction: row;
 }
}

.feature__text {
  line-height: 1.71;
  line-height: 24px;
  font-weight: 400;
  
}

.feature__icon {
width: 70px;
height: 70px;
margin: auto;
}

.feature__item  {
  width: 100%;
  
}


.feature__item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  
  

}


