.footer__right--block {
    margin-left: 70px;
}

.footer__social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    fill: #FFFFFF;
}

.footer__social-link {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: var(--additional-color);
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus{
    background-color: var(--accent-color);

  &:hover .socials__icon {
    fill: #ffffff; 
}
}
}