.header {
    border-bottom: 1px solid #ECECEC;

    @media screen and (max-width: 767px) {
        padding: 10px 0;
    }
}

.header__container {
    display: flex;
    align-items: center;
}
.header__logo {
    font-family: Raleway, cursive;
    font-size: 26px;
    line-height: 1.2px;
    color: var(--title-text-color);
    text-decoration: none;
}

.menu-btn {
    @media screen and (min-width: 768px) {
        display: none;
    }
}