.team {
    background-color: #F5F4FA;
 }
 
 .team__list {
     display: flex;
     gap: 30px; 
 }

 .team__junior {
     text-align: center;
 
  &:last-child {
     margin-right: 0;
 }
}
 .team__icon {
     display:block;
 }

 .team__person {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--selective-color);
    margin-bottom: 10px;
}

.team__profession {
    text-align: center;

    font-size: 16px;
    line-height: 1.2;
    color: var(--primary-text-color);
    margin-bottom: 16px;
}

.socials__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #fff;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
background-color: #2196F3;
}
}

.socials__icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .socials__link:hover & {
        fill: #ffffff;
    }
}
