.container {
    margin-left: auto;
    margin-right: auto;
    
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: 480px) and (max-width: 767px) {
        width: 480px;
       }
       @media screen and (min-width: 768px) {
           width: 768px;
          }
          @media screen and (min-width: 1200px) {
           width: 1200px;
          }
}

.contacts-container {
    display: flex;
    align-items: baseline;

    @media screen and (min-width: 480px) and (max-width: 767px) {
        flex-wrap: wrap
       }

       @media screen and (min-width: 768px) {
        flex-wrap: wrap;
        
       }
       @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
        width: 1200px;
       }

}


.container .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}