.hero__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: var(--additional-color);

    @media screen and (min-width: 480px) {
        line-height: 1.6;
        font-size: 26px;
       }
       @media screen and (min-width: 768px) {
        line-height: 1.6;
        font-size: 26px;
       }
       @media screen and (min-width: 1200px) {
        
        font-size: 44px;
        line-height: 1.4;
       }
}

.form__title {
    display: block;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    color: #212121;
}

.feature__title {
   
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--selective-color);

    @media screen and (max-width: 480px) {
        text-align: center;
        justify-content: center;
       }
    
}

.work__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    color: var(--selective-color);
    margin-bottom: 50px;
}

.work__section-title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;}

.team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    color: var(--selective-color);
    margin-bottom: 50px;

    @media screen and (min-width: 480px) and (max-width: 1199px) {
        margin-bottom: 30px;
        font-size: 28px;
    }
    
}

.clients__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    color: var(--selective-color);
    margin-bottom: 50px;

    @media screen and (min-width: 480px) and (max-width: 1199px) {
        margin-bottom: 30px;
        font-size: 28px;
    }

}

.footer__title {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #FFFFFF;

    @media screen and (min-width: 480px) {
        
               }
                 
}